.container {
  flex-wrap: wrap;
  display: flex;
  
}

.table {
  max-width: 1600px;
  margin: 0 auto;
  

}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
  
  
}

.header {
  flex-grow: 1;
  max-width: calc(20% - 4px);
  margin: 2px;
  background-color: lightgray;
  text-align: center;

}
 .cell {
  flex-grow: 1;
  max-width: calc(20% - 4px);
  margin: 2px;
  background-color: lightgray;
  text-align: center;
  flex-direction: column;
  display:flex;
  flex-wrap: wrap;
  transition: background-color 0.3s ease;
}
.cell:hover{
  background-color: yellow;
}
.matched {
  background-color: red;
}

@media (max-width: 420px) {
  .container {
    flex-direction: column;
    
  }
  
   .header {
    display: none;
  }

  .row {
    width: auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
}