.container {
  flex-wrap: wrap;
}

.table {
  max-width: 1600px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header, .cell {
  flex-grow: 1;
  max-width: calc(20% - 4px);
  margin: 2px;
  background-color: lightgray;
  text-align: center;
}

@media (max-width: 420px) {
  .table {
    flex-direction: column;
    
  }
  
  .row {
    width: auto;
  }
  
  .header {
    display: none;
  }
  

  }

